H1{
    color: green;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

H2{
    color:red;
    font-size: 24px;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

p{
    color: blue;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

