body {
    font-family: Arial, sans-serif;
    background-color: #4f46e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {

    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    
}


h1 {
    color: #4f46e5;
}

h2 {
    margin-bottom: 20px;
}

#options button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
}

#options button:hover {
    background-color: #eee;
}

#next-btn {
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next-btn:hover {
    background-color: #3730a3;
}

#result {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
