*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background:linear-gradient(-45deg,
    #0f2027,
    #203a43,
    #2c5364,
    #00c9ff);
    background-size:400% 400%;
    animation:bg 10s infinite alternate;
}

@keyframes bg{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}

.container{
    position:relative;
    z-index:10;
    width:450px;
    text-align:center;
    padding:40px;
    border-radius:20px;
    background:rgba(255,255,255,.1);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,.2);
    box-shadow:0 0 30px rgba(0,255,255,.5);
}

h1{
    color:white;
    margin-bottom:20px;
    font-size:40px;
    letter-spacing:3px;
}

#greeting{
    color:#ffd700;
    margin-bottom:20px;
}

#clock{
    font-size:60px;
    color:#00ffcc;
    font-weight:bold;
    text-shadow:0 0 20px cyan;
    animation:glow 1s infinite alternate;
}

@keyframes glow{
from{
text-shadow:0 0 10px cyan;
}
to{
text-shadow:
0 0 20px cyan,
0 0 40px cyan,
0 0 80px cyan;
}
}

#date{
    margin-top:20px;
    color:white;
    font-size:22px;
}
