.container{
    background: rgba(255,255,255,0.1);
    padding:30px;
    border-radius:20px;
    backdrop-filter: blur(10px);
    text-align:center;
    box-shadow:0 0 30px rgba(0,255,150,0.5);
}

h1{
    position: absolute;
    top: 30px;
    color: #00ff99;
    font-size: 40px;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 5px black;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#222;
    font-family:Arial, sans-serif;

}

.clock{
    color:#00ff99;
    font-size: 60px;
    font-weight: bold;
    background:#111;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px #00ff99;
}